<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Handwritten Digit Recognition using Convolutional Neural Networks</title>
  
  
  {% load staticfiles %}
  {% load i18n %}
</head>
<style>
	#img{
		visibility:hidden;
	}
</style>
<body>
 
		<h1>Handwritten Digit Recognition using <span>Convolutional Neural Networks</span></h1>
	<script src="{% static 'save.js' %}"></script>
		<canvas id="canvas" width="280" height="280" style="border:8px solid; float: left; margin: 70px; margin-top:160px;  border-radius: 5px; cursor: crosshair;"></canvas>
		<div id="debug" style="margin:65px; margin-top:100px;">

			
			<!-- <input type="color" id="colors">
			 <input type="number" id="lineWidth" style="width:60px" value="0.2" step="0.1" min="0.1"> -->
			<input type="button" id="clearButton" value="Clear" style="">
			<br/>
			<span style="color: #4DAF7C; font-weight: 400; font-family: 'Open Sans', Helvetica;	">Draw the Digit inside this Box!</span>
			<span>
				<h1>Prediction : {{ prediction }}</h1>
			</span>
			<button class="myButton" onclick="save()"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></button>	
		</div>

		<div style="margin-left:175px; margin-top:60px; float:left; position:absolute;">
			<form id="imageform" method="post">
					{% csrf_token %}
					{% for field in form %}
					{{field}}
					{% endfor %}
				
			</form>		
		</div>
		<div >
			<h1 id="result" style="margin-right:20px; margin-top:300px;float:left;"><span> </span></h1>
		</div>

		
  		<script src="{% static 'jquery.min.js' %}"></script>
	    <script src="{% static 'index.js' %}"></script>
	    <!--<script type="text/javascript">
	   
	   		$(".myButton").click(function(){
				
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL();
	   			$.ajax({
	   				type: "POST",
	   				url:"/predict",
	   				data: {'img': 'img', 'csrfmiddlewaretoken': '{{ csrf_token }}'  },
	   				success: function(data){
	   					//$('#result').text(' Predicted Output: '+data);
	   				}
	   			});
	   		});
	   
	   </script>-->
</body>
</html>